<!-- /partials/header.html -->


<title>Richy Teas</title>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>
    	<a href="https://gist.github.com/rteas/886f2044d07c30de0a03982302cf5aa7">
    		<img src="res/gif/GLC_colorwheel.gif" height="5%", width="5%">
    	</a>
    	&nbspRichy Teas 
    	<small>- Aspiring Software Developer</small>
    </h1>
  </div>
</div>

  <!--
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  -->
  
<link rel="stylesheet" href="app.css">

<script data-require="angular.js@1.2.10" data-semver="1.2.10" src="http://code.angularjs.org/1.2.10/angular.js"></script>

<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>


<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">