<div class="panel panel-default">
	<div class="panel-heading">
		  <h3>RichyTeas@gmail.com</h3>
		  <h4>(714) 722-2236</h4>
	</div>
  <div class="panel-body">
	<div class ="panel panel-primary">
		<div class="panel-heading">
			<h3>
			Education: </br>
			</h3>
			<h4>Computer Science and Engineering, B.S. (June 2016)</h4>
			<p> University of California, Irvine</p>
		</div>
	</div>

	<div class ="panel panel-primary">
		<div class="panel-heading">
			<h3>Skills and Experience:</h3>
		</div>
		<div ng-repeat="lang in langData" class ="panel panel-info">
			<div class="panel-heading">
				<h4>{{lang.name}}:</h4>
			</div>
			<div class="panel-body">
				<p ng-repeat="task in lang.tasks">&rarr;{{task}}</p>
			</div>
		</div>
	</div>


	<div class ="panel panel-primary">
		<div class="panel-heading">
			<h3>Work Experience:</h3>
		</div>
		<div ng-repeat="work in workData" class ="panel panel-info">
			<div class="panel-heading">
				<h4>{{work.title}}:</h4>
			</div>
			<div class="panel-body">
				<p ng-repeat="task in work.tasks">&rarr;{{task}}</p>
			</div>
			<div class="panel-footer">
				<p>Duration: {{work.duration}}</p>
			</div>
		</div>
	</div>


	<!-- Template for more?
	<div class ="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
	-->
  </div>
</div>


