<div class="panel panel-default">
  <div class="panel-body">
    <h1>Richy Teas <small>- RichyTeas@gmail.com</small></h1>
    <p> Phone: (714) 722-2236</p>

	<div class ="panel panel-info">
		<div class="panel-heading">
			<h3>
			Education: </br>
			</h3>
			<h4>Computer Science and Engineering, B.S. (June 2016)</h4>
			<a href="https://uci.edu/"> University of California, Irvine</a>
		</div>
	</div>

	<div class ="row">
		<div class="col-md-4">
		ONE
		</div>
		<div class="col-md-4">
		Two
		</div>
		<div class="col-md-4">
		</div>
	</div>

	<div class ="row">
		<div class="col-md-4">
		ONE
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>

	<div class ="row">
		<div class="col-md-4">
		ONE
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>

  </div>
</div>
