<style type="text/css">
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }

</style>



<section>
  <uib-tabset type="pills">
    <uib-tab heading="Work Experience">
    	<div ng-repeat="work in workData" class ="panel panel-info">
			<div class="panel-heading">
				<h4>{{work.title}}:</h4>
			</div>
			<div class="panel-body">
				<p ng-repeat="task in work.tasks">&rarr;{{task}}</p>
			</div>
			<div class="panel-footer">
				<p>Duration: {{work.duration}}</p>
			</div>
		</div>
    </uib-tab>
    <uib-tab heading="Projects">
    	<div ng-repeat="project in projectData" class ="panel panel-info">
			<div class="panel-heading">
				<h4>{{project.name}}:</h4>
			</div>
			<div class="panel-body">
				<p ng-repeat="task in project.tasks">&rarr;{{task}}</p>
			</div>
		</div>
    </uib-tab>
    <uib-tab heading="Skills & Experience">
    	<div ng-repeat="lang in langData" class ="panel panel-info">
			<div class="panel-heading">
				<h4>{{lang.name}}:</h4>
			</div>
			<div class="panel-body">
				<p ng-repeat="task in lang.tasks">&rarr;{{task}}</p>
			</div>
		</div>
    </uib-tab>
    <uib-tab heading="Education">
    	<div class="panel-heading">
    		<div class="row">
    			<div class="col-md-6">
    				<h4>Computer Science and Engineering, B.S. (June 2016)</h4>
					<p> University of California, Irvine</p>
    			</div>
    			<div class="col-md-6">
    				<img  style="width:100%; height:25%;"src="https://www.chem.uci.edu/~lawm/UCI%20seal%203.jpg"/>
    			</div>
    		</div>
			
		</div>
    </uib-tab>
    <uib-tab heading="Contact">
    	<div class="panel-heading">
		  <h4>RichyTeas@gmail.com</h4>
		  <p>(714) 722-2236</p>
		</div>
    </uib-tab>
  </uib-tabset>

  <hr />

</section>


