<title>Richy Teas</title>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>Richy Teas <small>- Aspiring Software Developer</small></h1>
  </div>
</div>

<link rel="stylesheet" href="app.css">

<script data-require="angular.js@1.2.10" data-semver="1.2.10" src="http://code.angularjs.org/1.2.10/angular.js"></script>

<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />

<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">