/* app css stylesheet */



.carousel-control.left, .carousel-control.right {
    background-image: none
}


html{
    /*background-color: #F8F8F8;*/
    font-size: 10px;
}

h1{
    font-size: 2.6rem;
}
p {
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
}

.image {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 33%;
    height: 200px;
    float: left;
}



textarea{
    resize: none;
}
body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(97, 97, 97, 1);
    background: -webkit-linear-gradient(top, rgba(168, 168, 168, 1) 0%, rgba(97, 97, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(168, 168, 168, 1) 0%, rgba(97, 97, 97, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(214, 214, 214, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(75, 192, 250, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 119, 255, 1);
    background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1) 0%, rgba(0, 119, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 191, 255, 1) 0%, rgba(0, 119, 255, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #0077ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0077ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0077ff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #616161;
}

@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }