<section>
	<p>
		Hi there!
	</p>
	<p>
		My name is Richy Teas and I am a graduate from <a href="https://uci.edu">University of California, Irvine </a> with a degree in Computer Science and Engineering (CSE).
	</p>
	<p> 
		Looking to challenge and grow my skills by tackling interesting software problems and would like to keep my mind sharp with learning new technologies.
		Having completed a chunk of my game, I am currently looking to expand my software development skills by looking for new techniques/technologies to implement.
	</p>

</section>