<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>About me</h1>
	</div>

	<div class="panel-body">
		<h4>
			Hi!
		</h4>
		</br>
		<h4>
			I recently graduated in Computer Science and Engineering (CSE) from <a href="https://uci.edu">University of California, Irvine </a> (UCI). Zot zot zot!
		</h4>
		</br>
		<h4>
			One of my interests lies within games (playing and development), which I plan to start on as a hobby soon. As I've taken a video game development class, I found game development to also be interesting, difficult, and fun! See my (unfinished) code <a href="https://github.com/rteas/Hurricane">here!</a> Also the group code of a semi-finished one <a href="https://github.com/atymisk/Hurricane">here!</a>
		</h4>
		</br>

		<h4>
			Of course, I do find software development in general quite interesting. Currently I am just messing around with web development. I would love to develop anything that will help me grow as well! Bring on the challenges!
		</h4>

		</br>
		<h4>
			I am currently job hunting so please <a href="#/contact">contact</a> me if you're interested!
		</h4>
	</div>
</div>