<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>About me</h1>
	</div>

	<div class="panel-body">
		<h4>
			Hi!
		</h4>
		</br>
		<h4>
			I recently graduated in Computer Science and Engineering (CSE) from <a href="https://uci.edu">University of California, Irvine </a> (UCI). Zot zot zot!
		</h4>
		</br>

		<h4> 
			Looking to challenge and grow my skills by tackling interesting software problems and would like to keep my mind sharp with learning new technologies.
		</h4>

		</br>
		<h4>
			I am currently job hunting so please <a href="#/contact">contact</a> me if you're interested!
		</h4>
	</div>
</div>