<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Contact Information</h3>
	</div>
	<div class="panel-body">
		Email: richyteas@gmail.com</br>
		Phone: (714) 722-2236
	</div>
	<div class="panel-heading">
		<h3>Leave me a message!</h3>
	</div>

	<div class="panel-body">
		<div class="form-group">
			<form>
				<textarea class="form-control" ng-model="message" rows="10" maxlength="1000"></textarea>
				<div> {{1000-message.length}} characters remaining</div>

				<div
				    vc-recaptcha
				    ng-model="recaptcha"
    				key="'6LeJhSMTAAAAAIzAHsoDYOtIfnRAywoSRDDPQlYW'"
				></div>
				<button ng-click="sendMessage()" class="btn btn-info">Send!</button>
			</form>		
			<p>{{thanks}}</p>
		</div>
	</div>

</div>
