<section>
<p> You can contact me by email <span class="important">(RichyTeas@gmail.com)</span>, phone <span class="important">(714) 722-2236</span>, or by leaving a <span class="important">message</span> below. </p>
		<div class="form-group">
			<form>
				<textarea class="form-control" placeholder="Leave a message here..." ng-model="message" rows="10" maxlength="1000"></textarea>
				<div> {{1000-message.length}} characters remaining</div>

				<div
				    vc-recaptcha
				    ng-model="recaptcha"
    				key="'6LeJhSMTAAAAAIzAHsoDYOtIfnRAywoSRDDPQlYW'"
				></div>
				<button ng-click="sendMessage()" class="btn btn-info">Send!</button>
			</form>		
			<p>{{thanks}}</p>
		</div>

</section>
