<section style="width:65%;">
<p> You can contact me by email <span class="important">(RichyTeas@gmail.com)</span>, phone <span class="important">(714) 722-2236</span>, or by leaving a <span class="important">message</span> below. </p>
		
			<form name="contactForm">
				<input type="text" ng-model = "name" class="form-control has-danger" id = "name" placeholder="Name" maxlength="400" style="width:40%;"/></br>
				<input type="email" ng-model = "email" [required="false"] class="form-control" placeholder="E-mail" maxlength="400" style="width:40%;"/></br>
				<p>{{email_message}}</p>
				<textarea class="form-control" ng-model="message" id="message" placeholder="Message"  rows="10" maxlength="1000" ></textarea> 
				<p> {{1000-message.length}} characters remaining</p>

				<div
				    vc-recaptcha
				    ng-model="recaptcha"
    				key="'6LeJhSMTAAAAAIzAHsoDYOtIfnRAywoSRDDPQlYW'"
				></div>
				<hr/>
				<button ng-click="sendMessage()" class="btn btn-info">Send!</button>
			</form>		
			<p>{{thanks}}</p>



</section>
