<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Extras!</h3>
	</div>
	<div class="panel-body">
		<p> Here I will be posting a random assortment of projects that I am working on or have completed.</p>
		<p> Please check them out and enjoy!</p>
	</div>
	<div class="panel-heading">
		<h3>Game: Blastemy (prototype)</h3>
	</div>

	<div class="panel-body">
		<h4> Updates: </h4>
		<h5> *Fixed screen scaling issue</h5>
		<h5> *Adding esc key, updating instructions</h5>
		<h5> Added versions for multi-OS support (please tell me if there is an issue)</h5>
		<h5> Lowered difficulty by allowing shooting during invincible period after respawn</h5>

		<h4> Basic Instructions: </h4>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">Z / Mouse1</div>
		  <div class="col-md-3 col-md-pull-9">Primary Fire</div>
		</div>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">X / Mouse2</div>
		  <div class="col-md-3 col-md-pull-9">Secondary Fire</div>
		</div>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">Arrow Keys / WASD</div>
		  <div class="col-md-3 col-md-pull-9">Move</div>
		</div>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">C / Q</div>
		  <div class="col-md-3 col-md-pull-9">Change Weapons</div>
		</div>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">Space</div>
		  <div class="col-md-3 col-md-pull-9">Pasue</div>
		</div>
		<div class="row">
		  <div class="col-md-9 col-md-push-3">Esc</div>
		  <div class="col-md-3 col-md-pull-9">Quit</div>
		</div>
		<img src="/res/img/gameplay.JPG" class="img-responsive img-rounded" />
		
	</div>

	<div class="panel-footer">
		<span class="glyphicon glyphicon-circle-arrow-down"></span> Download (Windows): 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0VlI2SWxmeHItQjQ"> 32-bit </a> / 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0YlZQaUtVYmdSNnM"> 64-bit</a> 
		<br> 
		<span class="glyphicon glyphicon-circle-arrow-down"></span> Download (Mac OSX): 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0Z2xkVEVBQjdjSGs"> 32-bit </a> / 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0SVREN3dXcGJfbUk"> 64-bit</a> 
		<br> 
		<span class="glyphicon glyphicon-circle-arrow-down"></span> Download (Linux): 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0M1hRLUhPQW1ZWmM"> 32-bit </a> / 
		<a href="https://drive.google.com/open?id=0B2nW-xXF_lS0TmxtbzV5Vml5cnM"> 64-bit</a> 
		<br> 
	<div>

	

</div>
