<section>		
		<div id="homeDesc" class="row">

			<div class="col-md-6">
				<h1>Welcome!</h1>
				<p>
					Check out my <a href="#/extra">prototype game! </a>
				</p>
				<p>
					This website will feature some of my projects (and to test any additional features that I may want to implement).
				</p>
				<p>
					Special thanks to the following technologies used for this website:
				</p>
			</div>
			
			<div class="col-md-6">
				<div ng-controller="CarouselDemoCtrl">
				  <div style="height: 320px">
				    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				        <img ng-src="{{slide.image}}" style="margin:auto; height: 300px; width:100%;">
				        <p style="text-align: bottom-center;">{{slide.text}}</p>
				      </div>
				    </div>
				   
				  </div>
				  <br/>
				  <br/>
				</div>
			</div>
		</div>
</section>